//
// Object > Component > Addon
// -----------------------------------------------------------------

.c-addon {
  padding: $size-gap-base/2;
  display: flex;
  align-items: center;
  background: $color-gray-9;
}

.c-addon__text {
  padding: 0 $size-gap-base;
  color: $color-gray-5;
  font-size: $font-size-s2;
}
