//
// Object > Component > Button
// -----------------------------------------------------------------

.c-button {
  display: inline-flex;
  align-items: center;
  appearance: none;
  color: inherit;
  background: transparent;
  border-radius: $border-radius-base;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: $transition-duration-base;

  & > * + * {
    margin-left: $size-gap-base;
  }

  &--action {
    padding: $size-gap-base/2;

    &:hover {
      opacity: .5;
    }
  }
  &--border {
    padding: $size-gap-base/2 $size-gap-base*2;
    border: solid 2px $color-primary;
    font-size: $font-size-s2;

    &:hover {
      background: $color-primary;
    }
  }
  &--painted {
    padding: $size-gap-base/2 $size-gap-base*2;
    background: $color-primary;
    border: solid 2px $color-primary;
    font-size: $font-size-s2;

    &:hover {
      background: transparent;
    }
  }
}
