//
// Object > Component > Button
// -----------------------------------------------------------------

.c-button {
  padding: $size-gap-base/2;
  display: inline-block;
  appearance: none;
  color: inherit;
  background: transparent;
  border-radius: $border-radius-base;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .2s;

  &--action {
    &:hover {
      opacity: .5;
    }
  }
}
