//
// Object > Component > Input
// -----------------------------------------------------------------

.c-input {
  display: flex;
  align-items: center;
  font-size: $font-size-s1;

  &--small {
    width: 72px;
  }
  &--smallregular {
    width: 152px;
  }
  &--medium {
    width: 200px;
  }
  &--large {
    width: 100%;
  }
}

.c-input__text, .c-input__number {
  width: 100%;
  padding: $size-gap-base/2 $size-gap-base;
  display: inline-block;
  resize: none;
}
