</main>

<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__socialmedia">
    <div class="p-socialmedia">
      <a class="p-socialmedia__link p-socialmedia__link--discord" href="https://discordapp.com/invite/YjwYEBk" target="_blank" rel="noopener" aria-label="jao Minecraft Server Discord">
      <svg class="p-socialmedia__icon">
        <use xlink:href="./img/brand.svg#ico_discord"></use>
      </svg>
      </a>
      <a class="p-socialmedia__link p-socialmedia__link--twitter" href="https://twitter.com/jaoafa/" target="_blank" rel="noopener" aria-label="jao Minecraft Server Twitter">
      <svg class="p-socialmedia__icon">
        <use xlink:href="./img/brand.svg#ico_twitter"></use>
      </svg>
      </a>
      <a class="p-socialmedia__link p-socialmedia__link--instagram" href="https://www.instagram.com/jaoafa/" target="_blank" rel="noopener" aria-label="jao Minecraft Server Instagram">
      <svg class="p-socialmedia__icon">
        <use xlink:href="./img/brand.svg#ico_instagram"></use>
      </svg>
      </a>
    </div>
    </div>
    <div class="l-footer__copyright">
    <div class="p-copyright">
      <small class="p-copyright__text">
        &copy; 2019 jao Minecraft Server
      </small>
    </div>
    </div>
  </div>
</footer>
<script src="./js/main.js"></script>
</body>
</html>