<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="msapplication-TileColor" content="#ffb41d">
  <meta name="msapplication-config" content="./asset/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffb41d">
  <title>自治体申請｜jao Minecraft Server Support</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.typekit.net/ibc0rnp.css">
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="./asset/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./asset/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./asset/favicon/favicon-16x16.png">
  <link rel="manifest" href="./asset/favicon/site.webmanifest">
  <link rel="mask-icon" href="./asset/favicon/safari-pinned-tab.svg" color="#ffb41d">
  <link rel="shortcut icon" href="./asset/favicon/favicon.ico">
</head>

<body>
<header class="l-header">

</header>

<main class="l-main">
