//
// Object > Project > Form
// -----------------------------------------------------------------

.p-form {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: row;
  gap: $size-gap-base*2 0;

  @include bp( md ) {
    gap: $size-gap-base*4 0;
  }
}
