<%- include( '../components/_header.ejs' ) -%>
<%- include( '../components/_breadcrumb.ejs' ) -%>

  <div class="l-main__inner">
    <div class="l-main__heading">
    <div class="p-heading">
      <h1 class="p-heading__title">自治体申請</h1>
    </div>
    </div>
    <div class="l-main__alert">
    <div class="c-alert c-alert--success">
      <i class="c-alert__icon--success fas fa-check-circle"></i>
      <div class="c-alert__heading">
        成功メッセージ
      </div>
      <div class="c-alert__message">
        成功メッセージがあります。成功メッセージがあります。成功メッセージがあります。
      </div>
    </div>
    <div class="c-alert c-alert--success">
      <i class="c-alert__icon--success fas fa-check-circle"></i>
      <div class="c-alert__message">
        成功メッセージがあります。成功メッセージがあります。成功メッセージがあります。
      </div>
    </div>
    <div class="c-alert c-alert--warning">
      <i class="c-alert__icon--warning fas fa-exclamation-triangle"></i>
      <div class="c-alert__heading">
        警告メッセージ
      </div>
      <div class="c-alert__message">
        警告メッセージがあります。 警告メッセージがあります。 警告メッセージがあります。
      </div>
    </div>
    <div class="c-alert c-alert--warning">
      <i class="c-alert__icon--warning fas fa-exclamation-triangle"></i>
      <div class="c-alert__message">
        警告メッセージがあります。 警告メッセージがあります。 警告メッセージがあります。
      </div>
    </div>
    <div class="c-alert c-alert--error">
      <i class="c-alert__icon--error fas fa-times-circle"></i>
      <div class="c-alert__heading">
        失敗メッセージ
      </div>
      <div class="c-alert__message">
        失敗メッセージがあります。失敗メッセージがあります。失敗メッセージがあります。
      </div>
    </div>
    <div class="c-alert c-alert--error">
      <i class="c-alert__icon--error fas fa-times-circle"></i>
      <div class="c-alert__message">
        失敗メッセージがあります。失敗メッセージがあります。失敗メッセージがあります。
      </div>
    </div>
    </div>
    <div class="l-main__form">
    <form class="p-form">
      <div class="p-form__section">
      <section class="c-formGrandSection">
        <h2 class="c-formGrandSection__heading">自治体</h2>
        <div class="c-formGrandSection__section">
        <fieldset class="c-formSection">
          <legend class="c-formSection__heading">範囲</legend>
          <div class="c-formSection__body c-formSection__body--vertical">
            <div class="c-formSection__row">
              <label class="c-label">#1:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <button class="c-button c-button--action" type="button">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>
            <div class="c-formSection__row">
              <label class="c-label">#2:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <button class="c-button c-button--action" type="button">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>
            <div class="c-formSection__row">
              <label class="c-label">#3:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <button class="c-button c-button--action" type="button">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>
            <div class="c-formSection__row">
              <label class="c-label">#4:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input">
                  <input class="c-input__number" type="number" name="">
                </div>
              </div>
              <button class="c-button c-button--action" type="button">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>
          </div>
        </fieldset>
        </div>
      </section>
      </div>
    </form>
    </div>
  </div>

<%- include( '../components/_footer.ejs' ) -%>