<%- include( '../components/_header.ejs' ) -%>
<%- include( '../components/_breadcrumb.ejs' ) -%>

  <div class="l-main__inner">
    <div class="l-main__heading">
    <div class="p-heading">
      <h1 class="p-heading__title">自治体申請</h1>
    </div>
    </div>

    <div class="l-main__alert">
    <div class="c-alert c-alert--success">
      <i class="c-alert__icon--success fas fa-check-circle"></i>
      <div class="c-alert__heading">
        成功メッセージ
      </div>
      <div class="c-alert__message">
        成功メッセージがあります。成功メッセージがあります。成功メッセージがあります。
      </div>
    </div>

    <div class="c-alert c-alert--success">
      <i class="c-alert__icon--success fas fa-check-circle"></i>
      <div class="c-alert__message">
        成功メッセージがあります。成功メッセージがあります。成功メッセージがあります。
      </div>
    </div>

    <div class="c-alert c-alert--warning">
      <i class="c-alert__icon--warning fas fa-exclamation-triangle"></i>
      <div class="c-alert__heading">
        警告メッセージ
      </div>
      <div class="c-alert__message">
        警告メッセージがあります。 警告メッセージがあります。 警告メッセージがあります。
      </div>
    </div>

    <div class="c-alert c-alert--warning">
      <i class="c-alert__icon--warning fas fa-exclamation-triangle"></i>
      <div class="c-alert__message">
        警告メッセージがあります。 警告メッセージがあります。 警告メッセージがあります。
      </div>
    </div>

    <div class="c-alert c-alert--error">
      <i class="c-alert__icon--error fas fa-times-circle"></i>
      <div class="c-alert__heading">
        失敗メッセージ
      </div>
      <div class="c-alert__message">
        失敗メッセージがあります。失敗メッセージがあります。失敗メッセージがあります。
      </div>
    </div>

    <div class="c-alert c-alert--error">
      <i class="c-alert__icon--error fas fa-times-circle"></i>
      <div class="c-alert__message">
        失敗メッセージがあります。失敗メッセージがあります。失敗メッセージがあります。
      </div>
    </div>
    </div>

    <div class="l-main__form">
    <form class="p-form">
      <div class="p-form__section">
      <section class="c-formGrandSection">
        <h2 class="c-formGrandSection__heading">申請者</h2>

        <section class="c-formGrandSection__section">
        <div class="c-formSection">
          <label class="c-formSection__heading" for="minecraftid">Minecraft ID</label>

          <div class="c-formSection__body c-formSection__body--vertical">
            <div class="c-inputGroup">
              <div class="c-input c-input--large">
                <input class="c-input__text" id="minecraftid" type="text" name="">
              </div>
            </div>
          </div>
        </div>
        </section>
      </section>
      </div>
      <div class="p-form__section">
      <section class="c-formGrandSection">
        <h2 class="c-formGrandSection__heading">自治体</h2>

        <section class="c-formGrandSection__section">
        <div class="c-formSection">
          <label class="c-formSection__heading" for="prefname">名称</label>

          <div class="c-formSection__body c-formSection__body--vertical">
            <div class="c-inputGroup">
              <div class="c-input c-input--large">
                <input class="c-input__text" id="prefname" type="text" name="" placeholder="中央市">
              </div>
            </div>
          </div>
        </div>
        </section>

        <section class="c-formGrandSection__section">
        <div class="c-formSection">
          <label class="c-formSection__heading" for="prefnamekana">名称読み方</label>

          <div class="c-formSection__body c-formSection__body--vertical">
            <div class="c-inputGroup">
              <div class="c-input c-input--large">
                <input class="c-input__text" id="prefnamekana" type="text" name="" placeholder="ちゅうおうし">
              </div>
            </div>
          </div>
        </div>
        </section>

        <section class="c-formGrandSection__section">
        <fieldset class="c-formSection">
          <legend class="c-formSection__heading">範囲</legend>

          <div class="c-formSection__body c-formSection__body--vertical">
            <div class="c-formSection__row">
              <label class="c-label" id="position-1">#1:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-1">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-1">
                </div>
              </div>
              <button class="c-button c-button--action" type="button" aria-label="削除">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>

            <div class="c-formSection__row">
              <label class="c-label" id="position-2">#2:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-2">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-2">
                </div>
              </div>
              <button class="c-button c-button--action" type="button" aria-label="削除">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>

            <div class="c-formSection__row">
              <label class="c-label" id="position-3">#3:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-3">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-3">
                </div>
              </div>
              <button class="c-button c-button--action" type="button" aria-label="削除">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>

            <div class="c-formSection__row">
              <label class="c-label" id="position-4">#4:</label>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">X</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-4">
                </div>
              </div>
              <div class="c-inputGroup">
                <span class="c-addon">
                  <span class="c-addon__text">Z</span>
                </span>
                <div class="c-input c-input--small">
                  <input class="c-input__number" type="number" name="" aria-labelledby="position-4">
                </div>
              </div>
              <button class="c-button c-button--action" type="button" aria-label="削除">
                <i class="c-button__icon fas fa-times"></i>
              </button>
            </div>
          </div>
        </fieldset>
        </section>
      </section>
      </div>
    </form>
    </div>
  </div>

<%- include( '../components/_footer.ejs' ) -%>