<%- include( '../components/_header.ejs' ) -%>
<%- include( '../components/_breadcrumb.ejs' ) -%>

  <div class="l-main__inner">
    <div class="l-main__heading">
    <div class="p-heading">
      <h1 class="p-heading__title">自治体申請</h1>
    </div>
    </div>
    <div class="l-main__form">
    <form class="p-form">
      
    </form>
    </div>
  </div>

<%- include( '../components/_footer.ejs' ) -%>