//
// Layout > Main
// -----------------------------------------------------------------

.l-main {
  margin-top: ( $width-header-logo-mobile * ( 7 / 30 ) ) + ( $size-gap-base*2 * 2 ) - 2px;

  @include bp( md ) {
    margin-top: ( $width-header-logo-pc * ( 7 / 30 ) ) + ( $size-gap-base*2 * 2 ) - 2px;
  }
}

.l-main__breadcrumb {
  position: relative;
  z-index: 90;
  background: $color-gray-9;
  border-bottom: solid 1px $color-gray-8;
}

.l-main__inner {
  max-width: $width-main-max;
  margin: 0 auto;
  padding: $size-gap-base*3 $size-gap-base*2 $size-gap-base*6;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: row;
  gap: $size-gap-base*2 0;
  color: $color-gray-1;

  @include bp( md ) {
    padding: $size-gap-base*4 $size-gap-base*3 $size-gap-base*8;
    gap: $size-gap-base*3 0;
  }
}

.l-main__alert {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: row;
  gap: $size-gap-base*2;
}
